@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.bggradient{
    background: linear-gradient(-45deg, #2a003d, #3d003d, #3d0023, #250015);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite, fadeIn 0.5s ease-in-out;
}